POSTILION_ERROR_CHECKER-20170509T061750Z-001/POSTILION_ERROR_CHECKER/src/META-INF/wsdl/intwebsrv1/SMSGatewayWs/SMSGatewayWs.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMSWithPriority">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AppName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSWithPriorityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSWithPriorityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AppName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidCredentialsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSWithPrioritySoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSWithPriority" />
  </wsdl:message>
  <wsdl:message name="SendSMSWithPrioritySoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSWithPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:IsValidCredentials" />
  </wsdl:message>
  <wsdl:message name="IsValidCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidCredentialsResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSGatewayWsSoap">
    <wsdl:operation name="SendSMSWithPriority">
      <wsdl:input message="tns:SendSMSWithPrioritySoapIn" />
      <wsdl:output message="tns:SendSMSWithPrioritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValidCredentials">
      <wsdl:input message="tns:IsValidCredentialsSoapIn" />
      <wsdl:output message="tns:IsValidCredentialsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSGatewayWsSoap" type="tns:SMSGatewayWsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMSWithPriority">
      <soap:operation soapAction="http://tempuri.org/SendSMSWithPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidCredentials">
      <soap:operation soapAction="http://tempuri.org/IsValidCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSGatewayWsSoap12" type="tns:SMSGatewayWsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMSWithPriority">
      <soap12:operation soapAction="http://tempuri.org/SendSMSWithPriority" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidCredentials">
      <soap12:operation soapAction="http://tempuri.org/IsValidCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSGatewayWs">
    <wsdl:port name="SMSGatewayWsSoap" binding="tns:SMSGatewayWsSoap">
      <soap:address location="http://intwebsrv1/SMSGatewayWs/SMSGatewayWs.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSGatewayWsSoap12" binding="tns:SMSGatewayWsSoap12">
      <soap12:address location="http://intwebsrv1/SMSGatewayWs/SMSGatewayWs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>